.navbar {
  display: flex;
  padding: 40px 0 40px 0;
  align-items: center;
  gap: 10px;
  color: black;
  font-size: 0.875rem;
  justify-content: space-between;

  .navbar__logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #242424;
    text-decoration: none;
    width: 50px;
  }

  .navbar__links {
    display: flex;
    align-items: center;
    gap: 30px;

    a {
      font-size: 0.9rem;
    }

    .switch-theme {
      background: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      display: flex;
      align-items: center;
    }
  }
}
